@import url(https://db.onlinewebfonts.com/c/0825e48b888e2966c14f17034b133d07?family=Gordita-Regular);

@import "tailwindcss";

@theme {
  --color-primary: #ff3294;
}

@layer components {
  @media screen and (min-width: 1024px) {
    .background-hero {
      background-image: url("./assets/hero1.png"), url("./assets/hero2.png");
      background-position: left, right;
      background-size: contain, contain;
      background-repeat: no-repeat, no-repeat;
      width: 600px;
      height: 600px;
    }
  }
}

body {
  font-family: "Gordita-Regular", sans-serif;
}
