@import url(https://db.onlinewebfonts.com/c/0825e48b888e2966c14f17034b133d07?family=Gordita-Regular);

@import "tailwindcss";

@theme {
  --color-primary: #ff3294;
}

@layer components {
  @media screen and (min-width: 1024px) {
    .background-hero {
      background-image: url("./assets/hero1.png"), url("./assets/hero2.png");
      background-position: left, right;
      background-size: contain, contain;
      background-repeat: no-repeat, no-repeat;
      width: 600px;
      height: 600px;
    }
  }
}

body {
  font-family: "Gordita-Regular", sans-serif;
}

.feedbackSwiper {
  height: 550px;
  --swiper-pagination-color: #ff3294;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: #ff3294;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;

  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
